<img class="fit-picture" src="../assets/images/owl.jpg" height="100" width="100" alt="Тест картинка"/>
<h1>PeopleTracker</h1>
<div class="jumbo">
  <div class="right minion"></div>
</div>
<img src="../assets/images/jpg.jpg" height="354" width="630"/>
{{outlet}}


